<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <img  class="my-3" src="images/AKurssLogoSmall.png" width="140px" alt="AKurss">
        </div>
        <div class="col-12 col-md">
            <h6 class="my-3">Подписаться</h6>
            <a href="https://www.facebook.com/AKurss/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a class="ml-2" href="https://www.instagram.com/akurss.lv"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="col-12 col-md">
            <h6 class="my-3">О Нас</h6>
            <ul class="list-unstyled">
                <li class="my-2"><a href="index.html">Главная</a></li>
                <li class="my-2"><a href="java-course.html">Курс Java</a></li>
                <li class="my-2"><a href="web-course.html">Курс WEB</a></li>
                <li class="my-2"><a href="faq.html">FAQ</a></li>
                <li class="my-2"><a href="contacts.html">Контакты</a></li>
            </ul>
        </div>
        <div class="col-12 col-md">
            <h6 class="my-3">Контакты</h6>
            <p>E-mail<br>
                <i class="fa fa-envelope text-primary" aria-hidden="true"></i><a href="mailto:info@akurss.lv"> info@akurss.lv</a>
            </p>
            <p>Телефон<br>
                <i class="fa fa-phone text-primary" aria-hidden="true"></i><a href="tel:+37128272988"> +371 28 272 988</a>
            </p>
            <p>Адрес<br>
                Maskavas iela 322, Rīga<br>
                LV-1063
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12 text-center">
            ©2017 BY AKURSS
        </div>
    </div>
</div>