@import "utils/theme";
@import "vendor/bootstrap/bootstrap";
@import "utils/utils";

.hero-img {
  position: absolute;
  background-image: url("../images/pc4.jpg");
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom right,#737373 31%,#8c4605);
    opacity: .6;
    width: 100%;
    height: 100%;
  }
}

.background-img-2 {
  position: absolute;
  background-image: url("../images/pc2.jpg");
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom left,#737373 31%,#8c4605);
    opacity: .7;
    width: 100%;
    height: 100%;
  }
}

.hero-header {
  text-shadow: 0 0 10px $gray-700;

  & .display-4 {
    @include media-breakpoint-down(md) {
      font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.8rem;
    }
  }

}

#map {
  width: 100%;
  height: 25rem;
}

.course-card {
  border: solid 1px rgba($white, 0.3);
  transition: border 300ms, box-shadow 300ms;

  &:hover {
    border: solid 1px rgba($white, 0.6);
    box-shadow: 5px 5px 20px $gray-900;
  }
}

.block-card {
  height: 100%;
}